{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section id="main-content" style="margin-top:30%;">
                <div id="guts">
                    <br /><br /><br />
                    <h1 class="text-center">Password change Form</h1>
                    <br /><br />
                    <h6 class="text-center" style="color:blue;">Please enter your email here.</h6>
                    {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" name="Send mail" class="btn btn-outline-primary">Send Mail</button>
                    </form>

                    <!-- Remind Passowrd -->
                   
                </div>
            </section>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}