{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section id="main-content" style="margin-top:30%;">
                <div id="guts">
                    
                    <h3 class="text-center">Enter new password</h3>
                    
                    <h6 class="text-center" style="color:blue;">Please enter your new password</h6>
                    {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" name="Update Password">
                    </form>

                    <!-- Remind Passowrd -->
                   
                </div>
            </section>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}