<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
		
		
	</head>
	<body>
	
		<header>
			<nav class="navbar fixed-top navbar-expand-xl">
				
				
				<div class="nav-tabs">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="navbar-brand" href="#">HOME</a>
						</li>
						<li class="nav-item">
							<a class="navbar-brand" href="#about">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="navbar-brand"href="#services">SERVICES</a>
						</li>
						<li class="nav-item">
							<a class="navbar-brand"href="shop.html" aria-haspopup ="true">SHOP</a>
						</li>
						<li class="nav-item">
							<a class="navbar-brand"href="blog.html" aria-haspopup ="true">BLOG</a>
						</li>
						<li class="nav-item">
							<a class="navbar-brand" href="videos.html" aria-haspopup ="true">VIDEOS</a>
							<li class="nav-item">
								<a class="navbar-brand"href="#contact" aria-haspopup ="true">CONTACT</a>
							</li>
							
						
					</ul>
				</div>
				</nav>
	</header>

	
	<div class="row">
		
		<div class=" col-md-8 pt-5">
			<h1 class="text-center" style="margin-top: 50px;">MONTHLY HOROSCOPE</h1>
			<hr class="mx-auto w-25">
	 
<div class="container my-4">

    <h5>Horoscope Of The Month: July</h5>

    

    

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
       <!--Indicators-->
       
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
        <li data-target="#multi-item-example" data-slide-to="3"></li>
      </ol>
  
      <!--/.Indicators-->
      

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/mesh.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/brish.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/mithun.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/karkat.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/singha.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                 <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/kanya.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/tula.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/brischik.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/dhanu.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->
        <!--Fourth slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/makar.png"
                  alt="Card image cap">
                <div class="card-body">
                 
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/kumbha.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="Images/rashi/min.png"
                  alt="Card image cap">
                <div class="card-body">
                  
                  <a href="horoscope.html" class="btn btn-outline-primary">View More</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Fourth slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>




</div>



	<script>
	$(function() {

    var newHash      = "",
        $mainContent = $("#main-content"),
        $pageWrap    = $("#pageWrap"),
        baseHeight   = 0,
        $el;
        
    $pageWrap.height($pageWrap.height());
    baseHeight = $pageWrap.height() - $mainContent.height();
    
    $("nav").delegate("a", "click", function() {
        window.location.hash = $(this).attr("href");
        return false;
    });
    
    $(window).bind('hashchange', function(){
    
        newHash = window.location.hash.substring(1);
        
        if (newHash) {
            $mainContent
                .find("#guts")
                .fadeOut(200, function() {
                    $mainContent.hide().load(newHash + " #guts", function() {
                        $mainContent.fadeIn(200, function() {
                            $pageWrap.animate({
                                height: baseHeight + $mainContent.height() + "px"
                            });
                        });
                        $("nav a").removeClass("current");
                        $("nav a[href='"+newHash+"']").addClass("current");
                    });
                });
        };
        
    });
    
    $(window).trigger('hashchange');

});
</script>


<div class="row col-md-3" style="background-color: rgb(153, 179, 255); margin-top: 80px; margin-left: 0px;">
<div class="wrapper fadeInDown" id="pageWrap">
  <div id="formContent">
  	<nav class="navbar1 navbar-expand-xl">
				
				
				<div class="nav-tabs1">
					<ul class="navbar-nav">
						<li class="nav-item1">
							<a class="navbar-brand1" href="index.html" style="text-decoration: none;">LOGIN</a></button> 
						</li>
						<li class="nav-item1">
							<a class="navbar-brand1" href="register.html" style="text-decoration: none;">REGISTER</a>
						</li>
							
						
					</ul>
				</div>
				</nav>
    
    <!-- Login Form -->
    <section id="main-content">
		<div id="guts">
    <div class="card bg-light">
    	
	<input name="" class="form-control" placeholder="First Name" type="text"required>
	<input name="" class="form-control" placeholder="Last Name" type="text"required>
	<input name="" class="form-control" placeholder="Phone Number" type="text"required>
	<input name="" class="form-control" placeholder="Current Address" type="text"required>
	<input name="" class="form-control" placeholder="Email-ID" type="text"required>
	<input name="" class="form-control text-center" placeholder="Password" type="password"required>
	<input name="" class="form-control text-center" placeholder="Re- Enter Password" type="password"required>
	<a href="index.html" class="btn btn-outline-primary">Create Account</a>

</div>
</section>

  </div>

</div>


</div>
		
      </div>





<section id="about">
	
	<div class="container-fluid pt-5">
		<h1 class="text-center text-capitalize pt-5">About</h1>
		<hr class="w-25 pt-5 mx-auto">
		<div class="row">
			<div class="col-md-1">&nbsp;</div>
			<div class="col-lg-5 col-md-5 col-12" >
				<div class="janak">
					<img src="Images/d.jpg" class="img-fluid">
				</div>
				
			</div>
			<div class="col-lg-5 col-md-5 col-12">
				
				<p class="text-justify">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="pt-3">
					<a href="#" class="btn btn-outline-primary" role="button">Read More</a>
				</div>
			</div>
			
		</div>
	</div>
	</div>
</section>
<section id="services">
	<div class="container-fluid pt-5">
		<h1 class="text-center text-capitalize pt-5">Services</h1>
		<hr class="w-25 mx-auto">
		<div class="row service-bg" style="background-image: url(Images/cream.jpg);">
		<div class="col-md-1">&nbsp;</div>	
			
			
			
			<div class="mar col-md-3">
				<img class="service-img" src="Images/f.png">
				
			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">Janma Kundali</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="pt-3">
					<a href="janma kundali.html" class="btn btn-outline-primary" role="button">View More</a>
				</div>
			</div>
			
			<div class="mar col-md-1">&nbsp;</div>
			
			<div class="col-md-1">&nbsp;</div>	
			
			
			
			<div class="mar col-md-3">
				<img class="service-img" src="Images/f.png">
				
			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">Bhawishya Fal Kathan</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="pt-3">
					<a href="bhabishya_fal_kathan.html" class="btn btn-outline-primary" role="button">View More</a>
				</div>
			</div>
			
			<div class="mar col-md-1">&nbsp;</div>
			
			<div class="col-md-1">&nbsp;</div>	
			
			
			
			<div class="mar col-md-3">
				<img class="service-img" src="Images/f.png">
				
			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">Bastu Paramarsha</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="pt-3">
					<a href="bastu paramarsa.html" class="btn btn-outline-primary" role="button">View More</a>
				</div>
			</div>
			
			<div class="mar col-md-1">&nbsp;</div>
			
			<div class="col-md-1">&nbsp;</div>	
			
			
			
			<div class="mar col-md-3">
				<img class="service-img" src="Images/f.png">
				
			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">Graha Shanti</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="pt-3">
					<a href="Graha Shanti.html" class="btn btn-outline-primary" role="button">View More</a>
				</div>
			</div>
			
			<div class="mar col-md-1">&nbsp;</div>
			
			<div class="col-md-1">&nbsp;</div>	
			
			
			
			<div class="mar col-md-3">
				<img class="service-img" src="Images/f.png">
				
			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">Business Prediction</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="pt-3">
					<a href="Business Prediction.html" class="btn btn-outline-primary" role="button">View More</a>
				</div>
			</div>
			
			
			

			
			
			
			
		</div>
	</div>
	
	
	
	

<section id="contact">
	<br>
	<br>
	<div class="container-fluid">
		<h1 class="text-center text-capitalize pt-5">Contact</h1>
		<hr class="w-25 pt-5 mx-auto">
	</div>
	<div class="contact-bg">
		<div class="row">
			
			<div class="col-md-4">
				<div class="google-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2608.4358784226206!2d85.25841746669686!3d27.70218733885129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1593157945452!5m2!1sen!2snp"width="250" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					
				</div>
				
			</div>
			<div class="col-md-4">
				<a href=""><ion-icon class="social-media" name="logo-facebook"></ion-icon></a>
				<a href=""><ion-icon class="social-media" name="logo-instagram"></ion-icon></a>
				<a href=""><ion-icon class="social-media" name="logo-twitter"></ion-icon></a>
				<a href=""><ion-icon class="social-media" name="navigate-outline"></ion-icon></a>
				<br>
				<br><br>
				<h5>Astrologer Janak Raj Bhatta</h5>
				<br>
				<h6>
				Contact No: 9841811153, 9818840844
				<br>
				<br>
				Email Id: bhattajanak7@gmail.com
				</h6>
			</div>
			<div class="col-md-4">
				<div class="contact-form">
					<section class="resume-section text-center" id="contact">
						<div class="my-auto">
							
							
							
							<div class=" your-info container-fluid text-center text-capitalize">Your Info</div>
							<form
								class="contact-form d-flex flex-column align-items-center"
								action="https://formspree.io/youremail@mail.com"
								method="POST"
								>
								<div class="form-group w-75">
									
									<input
									type="name"
									class="form-control"
									placeholder="Enter Your Full Name"
									name="name"
									required
									/>
								</div>
								<div class="form-group w-75">
									
									<input
									type="email"
									class="form-control"
									placeholder="Enter Your Email id"
									name="name"
									required
									/>
								</div>
								<div class="form-group w-75">
									
									<input
									type="contact"
									class="form-control"
									placeholder="Enter Your Contact Number"
									name="name"
									required
									/>
								</div>
								<div class="form-group w-75">
									
									<textarea
									class="form-control"
									type="text"
									placeholder="Enter Your Message"
									rows="7"
									name="name"
									required
									></textarea>
								</div>
								<div class="submit">
									<button type="submit" class="btn btn-submit btn-success">Submit</button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</section>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
<script type='text/javascript' src='js/dynamicpage.js'></script>


<footer class="text-center"> copyright @ developerdgd </footer>
</body>
</html>