{%extends "base.html"%}
{% block content %}
{% load static %}

	<div>
<div class="row pt-5"style="background-color: #f5faff;margin-top:30px;">
<div class="col-md-1 ">&nbsp;</div>
<div class="col-md-10 ">
	<h1 class="text-capitalize  text-center">ज्योतिषी परामर्श</h1>
	<br>
	<p class="text-capitalize text-justify"> हाम्राे जीवनका हरेक क्षेत्रमा ज्याेतिषकाे उपयाेगिता रहन्छ । 
	ज्याेतिषले आकाशीय पिण्डहरूका बारेमा जानकारी दिनुका साथै तिथि बार नक्षत्र याेग करण ग्रह गति आदिकाे पनि जानकारी दिन्छ । 
	हाम्रा चाडपर्वहरूकाे निर्धारण पनि ज्याेतिषकै सययाेगले गरिन्छ । 
	मानिसकाे जन्म समयका आधारमा ग्रह नक्षत्र आदिकाे अवस्थितिसमेत समावेश गरी बनाइएकाे जन्म कुण्डलीबाट व्यक्तिका जीवनका विविध पक्षबारे जानकारी लिन सकिन्छ । यसबाट व्यक्तिकाे जीवनमा कस्ताे प्रगति हाेला र जीवनमा आईपर्ने अनिष्टलाई कसरी सामना गर्न सकिएला भन्नेसम्बन्धमा व्यक्तिलाई सजग तुल्याउन पनि सकिन्छ । यसले गर्दा ज्याेतिषशास्त्रलाई चक्षु अर्थात् आँखा भन्ने चलन छ । त्यसैले ज्याेतिषकाे सहयाेगले काम गर्दा जीवनमा विशेष सफलता मिल्ने देखिन्छ । ज्याेतिषअन्तर्गत नै वास्तुशास्त्र पनि पर्दछ । वास्तु मिलाएर बस्दा र काम व्यवसाय गर्दा विशेष लाभ मिल्छ ।
	मानिसकाे जीवनमा मिल्ने यस्ता लाभ प्राप्तिका लागि ज्याेतिषीय परामर्श लिएर कार्य गर्नु बुद्धिमानी हुन्छ ।  </p>

</div>
<div class="col-md-1 ">&nbsp;</div>
</div>
<div class="row pt-5">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-5">
		<h2 class="text-capitalize text-center">हामी के गर्छौ</h2>
		<br>
		<p class="text-capitalize text-justify">
			व्यक्ति संस्था समाज र राष्ट्रलाई आवश्यक ज्याेतिषीय परामर्श र सेवा प्रदान गर्नु हाम्राे प्रमुख दायित्व हाे । विशेषत हामीले निम्नानुसारका ज्याेतिषीय सेवा प्रदान गर्दछाैँ
			<ul>
				<li>जन्म मिति समय र स्थानका आधारमा व्यक्तिकाे विस्तृत चिना अथवा संक्षिप्त टिपन निर्माण गर्नेछाैँ।</li>
			<li>कम्प्युटर सफ्टवेयरकाे सहयाेगले जन्मकुण्डलीकाे विस्तृत अध्ययन गरेर भविष्यका बारेमा बताउनेछाैँ ।</li>
			<li>व्यक्तिका लागि कसरी स्वास्थ्यमा सुधार हाेला भन्नेबार बताउनेछाैँ ।</li>
			<li>व्यक्तिका लागि कुन शिक्षामा लाग्दा बढी प्रगति हाेला भन्ने बताउनेछाैँ ।</li>
			<li>व्यक्तिका लागि कुन पेसा अँगाल्दा बढी प्रगति हाेला भन्ने बताउनेछाैँ ।</li>
			<li>व्यक्तिका लागि सबैभन्दा उत्तम समय कुन हाे भन्नेबारे बताउँदै त्यस समयमा बढी मेहनतका लागि प्राेत्साहित गर्नेछाैँ ।</li>
			<li>व्यक्तिलाई अनिष्ट वा बाधक ग्रहले प्रगतिमा अवराेध खडा गर्ने भएकाेले त्यस्ता ग्रह पहिचान गरी त्यसकाे शान्तिका उपाय बताउनेछाैँ ।</li>
			<li>व्यक्तिलाई राजयाेग वा प्रगति गराउने ग्रह पहिचान गरी त्यसकाे पूजापाठ रत्नधारण वा अन्य उपायद्वारा उपासना गरी विशेष प्रगतिकाे मार्ग खाेल्ने उपाय बताउनेछाैँ ।</li>
			<li>गृहवास्तु र व्यवसाय वास्तुका बारेमा आवश्यक परामर्श दिई वास्तु सुधारका उपाय बताउनेछाैँ ।</li>
		</ul></p>
		<div class="pt-3">
						<a href="#" id="all-btn"class="btn btn-outline-primary" role="button">Read More</a>
					</div>
		</div>
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-4">
			<div class="scroll">
				<h2 class="text-capitalize text-center">ज्योतिषीय लेखरचना</h2>
				<br>

				{% for member in object_list %}
				<div class="row">



					<div class="col-md-2">

						<img id="recent-post" src="{{member.image.url}}">
					</div>
					<div class="col-md-10">
						<p class="text-justify"> {{member.title}}</p>
						<div class="pt-1">
							<a href="{{member.get_absolute_url}}" id="all-btn" class="btn btn-outline-primary" role="button">Read More</a>
						</div>
					</div>


				</div>

				<div class="col-md-1">&nbsp;</div>
				{% endfor %}



			</div>
		</div>
	
	</div>
		</div>
<br/><br/>

{% endblock %}

