{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="background-color: #f5faff">
	<div class="container-fluid pt-5">
		<h1 class="text-center text-capitalize pt-5">ग्रहशान्ति </h1>
		<hr class="w-25 pt-5 mx-auto">
		<div class="row">
			<div class="mar col-md-1">&nbsp;</div>
			<div class="mar col-md-3">
				<img class="service-img" src="{% static 'Images/rudripath.jpg' %}">

			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">पूजापाठ</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify">
					कुण्डलीमा भएका अशुभ अवस्थाकाे शान्तिका लागि रुद्री पाठ चण्डी पाठ र विभिन्न देवीदेवताकाे पूजा गर्ने ज्याेतिषीय विधान छ । यस्ता पूजापाठका लागि आवश्यक व्यवस्था गर्न सकिनेछ ।
				</p>
				<div class="pt-3">
					<div class="container">
						<!-- Button to Open the Modal -->
						{% if user.is_authenticated %}
						<form class="service-book" method="POST" id="service-book">
							{% csrf_token %}

							<button type="button" data-value="पूजापाठ" class="btn btn-outline-primary booknow" id="">
								Book Now
							</button>
						</form>
						{% else %}
						<a href="/" class="btn btn-outline-primary ">
							Login
						</a>
						{% endif %}

					</div>
				</div>
			</div>
			<div class="mar col-md-1">&nbsp;</div>
		</div>
		<div class="row">
			<div class="mar col-md-1">&nbsp;</div>
			<div class="mar col-md-3">
				<img class="service-img" src="{% static 'Images/hawan.jpg' %}">

			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">ग्रह,जप र हवन</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify">
					कुण्डलीमा भएका अशुभ अवस्थाकाे शान्तिका लागि ग्रहकाे जप र हवन गर्ने ज्याेतिषीय विधान छ । यस्ता जप र हवनका लागि आवश्यक व्यवस्था गर्न सकिनेछ ।
				</p>
				<div class="pt-3">
					<div class="container">
						<!-- Button to Open the Modal -->
						{% if user.is_authenticated %}
						<form class="service-book" method="POST" id="service-book">
							{% csrf_token %}

							<button type="button" data-value="ग्रह,जप र हवन" class="btn btn-outline-primary booknow" id="">
								Book Now
							</button>
						</form>
						{% else %}
						<a href="/" class="btn btn-outline-primary ">
							Login
						</a>
						{% endif %}

					</div>
				</div>
			</div>

			<div class="mar col-md-1">&nbsp;</div>
		</div>
		<div class="row">
			<div class="mar col-md-1">&nbsp;</div>
			<div class="mar col-md-3">
				<img class="service-img" src="{% static 'Images/navaratna.jpg' %}">
			</div>
			<div class="mar col-md-1">
				<div class="v1"> </div>
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">रत्न प्राणप्रतिष्ठा</h3>
				<hr class="w-25 mx-auto">
				<p class="text-justify">
					कुण्डलीकाे अध्ययन गरेर आवश्यक रत्न धारण गर्नाले व्यक्तिकाे विशेष प्रगति हुन्छ भन्ने ज्याेतिषीय विश्वास छ । हामी यहाँहरूकाे कुण्डली अध्ययन गरेर रत्नधारणसम्बन्धी आवश्यक सुझाव दिनुका साथै रत्नलाई विधिपूर्वक तयार गर्न लगाई विधिविधानका साथ प्राणप्रतिष्ठासमेत गराएर प्रदान गर्नेछाैँ ।
				</p>
				<div class="pt-3">
					<div class="container">
						<!-- Button to Open the Modal -->
						{% if user.is_authenticated %}
						<form class="service-book" method="POST" id="service-book">
							{% csrf_token %}

							<button type="button" data-value="रत्न प्राणप्रतिष्ठा" class="btn btn-outline-primary booknow" id="">
								Book Now
							</button>
						</form>
						{% else %}
						<a href="/" class="btn btn-outline-primary ">
							Login
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="mar col-md-1">&nbsp;</div>
		</div>
		</div>
		{% endblock %}
		{% block modal %}
		<div class="modal fade" id="bookModal" data-backdrop="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h2 class="modal-title"><br /><b>Do you want to confirm your bookings?</b></h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body text-center" style="min-width:100%">
						<b class="">Press OK to confirm.</b>
						<!-- Modal footer -->
						<div class="modal-footer">
							<a href="#" class="btn btn-light" id="btnOk" data-value="">OK</a>
							<button type="button" class="btn btn-light" id="btnCancel" data-dismiss="modal">Cancel</button>

						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		{% block scripts %}
		<script src="{% static 'notify.js' %}"></script>
		<script>
    $(document).ready(function e() {
        console.log("loaded");
    })
    $('#btnCancel').click(function e() {
        $(document).ready(function () {
            setTimeout(function () {

                location.reload(true);
            }, 100);
        });
    })
    $('#btnOk').click(function e() {
        var jData = "{{ csrf_token }}";
		var value = $(this).data('value');

        $.ajax({
            type: "POST",
            url: "{% url 'servicebook' %}",

            dataType: "json",

            data: { csrfmiddlewaretoken: jData, 'hidden': value },
            success: function (data) {
                console.log(data);
                $.notify("Access granted", "success");

            },
            failure: function (errMsg) {
                $.notify("Failed", "error");
            }
        });
        $(document).ready(function () {
            setTimeout(function () {

                location.reload(true);
            }, 100);

        });
        $("#bookModal").modal("hide");

    })
    $('.booknow').click(function e() {
        var jData = "{{ csrf_token }}";
        var value = $(this).data('value');
        $('.btn').attr('data-value', value);
            $("#bookModal").modal("show");
       

    });
		</script>
		{% endblock %}
