{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class="row col-md-12">
		<div class="row col-md-9 pt-1" style="margin-top: 45px; margin-left: 0px;">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="{% static 'Images/car1.jpg' %}"
							 alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="{% static 'Images/car2.jpg' %}"
							 alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="{% static 'Images/car3.jpg' %}"
							 alt="Third slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="row loghead col-md-3" style=" background-color: rgb(0, 119, 179) " ;>
			<div class="wrapper fadeInDown" id="pageWrap">
				<div id="formContent">
					{% if user.is_authenticated %}
					<div class="card bg-light">

						<h5 class="text-center">नमस्कार ,  {{user.first_name}} {{user.last_name}}</h5>
						
						<p>
							यहाँहरुलाई  हाम्राे ज्याेतिषीय सेवासम्बन्धी वेब पेजमा स्वागत छ । यस वेब पेजमा सम्पर्क गरेर यहाँहरूले आफ्ना ज्योतिषीय जिज्ञासा राखेर समाधानका उपायहरू पहिल्याउन सक्नुहुनेछ । हामी यहाँहरूकाे जन्मकुण्डली र प्रश्नकुण्डलीकाे अध्ययन गरेर उपयुक्त ज्याेतिषीय परामर्श दिनेछाैँ ।
						</p>
					</div>
					<a href="/logout"><button id="all-btn"class="btn btn-outline-primary">Log Out</button></a>

					{% else %}
					

					<!-- Login Form -->
					<section id="main-content">
						<h3 class="register-header">LOGIN</h3>
						<div id="guts">
							<form method="POST" class="form-group" action="{% url 'loginuser' %}">
								{% csrf_token %}
								<input name="email" class="form-control text-center email fadeIn second" placeholder="Email-ID" type="text" style="" required>
								<input name="password" class="form-control text-center password1 fadeIn second" placeholder="Password" type="password" style="" required>
								{% if messages %}
								<ul class="messages">
									{% for message in messages %}
									<li class="{{ message.tags }}">{{ message }}</li>
									{% endfor %}
								</ul>
								{% endif %}
								<button type="submit"id="register-login-btn" value="submit" name="button" class="btn btn-outline-primary">Login</button>
							</form>

							<!-- Remind Passowrd -->
							<div id="formFooter">
								<a class="" href="/reset-password">Forgot Password?</a> <br> <br>
								<a class="" href="/register-page">Register Now</a>
							</div>
						</div>
					</section>

					{% endif %}
				</div>

			</div>


		</div>

	</div>
	<section id="about" >

		<div class="container-fluid">
	
			<div class="row" >
				
				<div class="col-lg-5 col-md-5 col-12">
					<div class="janak " data-wow-delay="0.5s">
						<img src="{% static 'Images/JanakBhatta.jpeg' %}" class="wow fadeInDown img-fluid about-img" data-wow-delay="0.7s">
					</div>

				</div>
				<div class="col-lg-5 col-md-5 col-12">
					<br>
					<br>
					<h3 class="text-center">About (प्रारम्भिक जानकारी) </h3>
					<p class="text-justify">

						<br>
						<br>
						I am Hindu astrologer. I have completed Bachelor's Degree (Shastri) in astrology from Nepal Sanskrit University in 1990 and I have been practicing in this field since then. My specialization is in reading Janma Kundali (birth-chart) and Vastu Sastra. Astrology is a pseudoscience that claims divine information about human affairs and terrestrial events by studying the movements and relative positions of celestial objects. Astrology has been dated to at least the 2nd millennium BCE, and has its roots in calendrical systems used to predict seasonal shifts and to interpret celestial cycles as signs of divine communications.
					</p>
					<div class="pt-2">
						<a href="/#services" id="all-btn" class="btn btn-outline-primary" role="button">Explore More</a>
					</div>
					
				</div>

			</div>
		</div>
		
	</section>
<section id="services" style="background-color: #f5faff">
	<div class="container-fluid" >
		<div >
			<div class="row">

				<div class="col-md-12"><h1 class="text-center">हाम्रा सेवाहरु </h1></div>
				
			</div>
			
		</div>
		<div style="        background-color: #f5faff
">
			<div class="row service-bg">
				<div class="col-md-1">&nbsp;</div>
				<div class="mar col-md-3">
					<img class="service-img" src="{% static 'Images/janma_kundali.jpg' %}">

				</div>
				<div class="mar col-md-1">
					<div class="v1"> </div>
				</div>
				<div class="mar col-md-6">
					<h3 class="text-center text-capitalize">
						Janma Kundali Making (जन्म कुण्डली)
					</h3>
					<hr class="w-25 mx-auto">
					<p class="text-justify">
						हिन्दु ज्याेतिष शास्त्रमा जन्म कुण्डली निर्माण गर्ने विशेष विधि छ ।
						यसमा लग्न कुण्डली, राशि कुण्डली, नवमांश कुण्डली, हाेरा कुण्डली आदि निर्माण गरिन्छन् ।
						यसका साथै अन्य विविध कुण्डली पनि निर्माण गर्न सकिन्छ ।
						त्यस्तै विंशाेत्तरी, याेगिनी र त्रिभागी दशा पनि निकालिन्छन् । 
						विस्तृत रूपमा कुण्डली निर्माण गर्दा अन्य दशाहरू पनि निकाल्न सकिन्छ ।
						यसरी निर्माण गरिएका कुण्डलीकाे अनुभवी ज्याेतिषीद्वारा अध्ययन गराएर व्यक्तिकाे भूत,  वर्तमान र भविष्यका बारेमा जानकारी लिन सकिन्छ ।
						यस्ता ज्याेतिषीकाे सल्लाहअनुसार कार्य गर्नाले व्यक्तिकाे राम्राे प्रगति हुन्छ भन्ने ज्याेतिषीय मान्यता छ । 
						हामी यहाँहरूकाे जन्म कुण्डली अध्ययन गरेर भविष्यमा के गर्दा राम्राे हुन्छ भन्ने सल्लाह दिन्छाैँ । उदाहरणका लागि स्वास्थ्य स्थिति, अनिष्ट समय, अनिष्ट फल निवारणका उपाय, विद्यालय शिक्षामा प्रगतिका उपाय, उच्च शिक्षाकाे चयन, पेसा निर्धारण, वैवाहिक सम्बन्ध, सन्तानकाे अवस्था, राेजगारीका लागि विदेश वा स्वदेशमा कता राम्राे हुने आदिबारे सल्लाह दिनेछाैँ । 
						साथै कुण्डलीअनुसार कस्ताे उपाय अवलम्बन गर्नाले जीवनमा प्रगति हाेला भन्नेबारे पनि परामर्श दिनेछाैँ ।
					</p>
					<div class="pt-3">
						<a href="/janmakundali" id="all-btn" class="btn btn-outline-primary" role="button">View More</a>
					</div>
				</div>

				<div class="mar col-md-1">&nbsp;</div>

				<div class="col-md-1">&nbsp;</div>



				<div class="mar col-md-3">
					<img class="service-img" src="{% static 'Images/f.png' %}">

				</div>
				<div class="mar col-md-1">
					<div class="v1"> </div>
				</div>
				<div class="mar col-md-6">
					<h3 class="text-center text-capitalize">Bhavishya Phal Kathan (भविष्य फलकथन)</h3>
					<hr class="w-25 mx-auto">
					<p class="text-justify">
						हरेक व्यक्तिलाई आफ्नाे भविष्यका बारेमा जान्ने इच्छा हुन्छ । यसका लागि अनुभवी ज्याेतिषाीकाे सहयाेग लिनु आवश्यक छ । ज्याेतिषीले पनि आफ्नाे ज्ञान र अनुभवका आधारमा फलकथन गर्नु पर्दछ । फलकथन गर्दा भविष्यप्रतिकाे डर देखाउनु गलत प्रवृत्ति हाे । त्यसैले राम्ररी कुण्डलीकाे अध्ययन गरेर भविष्यमा आउन सक्ने समस्याकाे समाधान गर्ने उपाय बताउनु अनुभवी ज्याेतिषीकाे परम कर्तव्य हाे । हामी यहाँहरूकाे कुण्डली अध्ययन गरेर भविष्यका बारेमा आकलन गरी आवश्यक परामर्श दिनेछाैँ ।
					</p>
					<div class="pt-3">
						<a href="/bhabishya-fal-kathan"  id="all-btn" class="btn btn-outline-primary" role="button">View More</a>
					</div>
				</div>

				<div class="mar col-md-1">&nbsp;</div>
				</div>
			</div>
				<div class="row"style="        background-color: #f5faff
">
					<div class="col-md-1">&nbsp;</div>
					<div class="mar col-md-3">
						<img class="service-img" src="{% static 'Images/vastu-heading.jpg' %}">

					</div>
					<div class="mar col-md-1">
					<div class="v1"> </div>
					</div>
					<div class="mar col-md-6">
						<h3 class="text-center text-capitalize">Vastu Paramarsha (वास्तु परामर्श)</h3>
						<hr class="w-25 mx-auto">
						<p class="text-justify">
							वास्तु भन्नाले बासस्थान वा निवास गर्ने स्थान भन्ने बुझिन्छ । यसअनुसार घर, अफिस, व्यावसायिक प्रतिष्ठान, शिक्षण संस्था, अस्पताल आदि स्थान बुझिन्छ । त्यस्ता स्थानकाे निर्माण गर्दा वास्तुशास्त्रअनुसार मिलाएर गर्नुका साथै बस्ने व्यवस्था पनि वास्तुअनुसार मिलाएर गरेका खण्डमा सम्बन्धित व्यक्तिकाे कल्याण हुन्छ । त्यसैले त्यस्ता सबै क्षेत्रमा मिलाउनुपर्ने वास्तुका बारेमा हामी परामर्श दिनेछाैँ । त्यसैगरी पहिलेका संरचनालाई पनि बिना ताेडफाेड वास्तु दाेष निवारण यन्त्र राखेर मिलाउने व्यवस्था गर्नेछाैँ ।
						</p>
						<div class="pt-3">
						<a href="/bastu-paramarsa"  id="all-btn" class="btn btn-outline-primary" role="button">View More</a>
						</div>
					</div>

					<div class="mar col-md-1">&nbsp;</div>

					<div class="col-md-1">&nbsp;</div>



					<div class="mar col-md-3">
						<img class="service-img" src="{% static 'Images/navagraha.jpg' %}">

					</div>
					<div class="mar col-md-1">
						<div class="v1"> </div>
					</div>
					<div class="mar col-md-6">
						<h3 class="text-center text-capitalize">Graha Shanti (ग्रह शान्ति)</h3>
						<hr class="w-25 mx-auto">
						<p class="text-justify">
							हिन्दु ज्याेतिष शास्त्रअनुसार सूर्य, चन्द्र, मंगल, बुध आदि नवग्रहकाे जन्मकालीन स्थिति र वर्तमान अवस्था एवं भविष्यमा हुने ग्रहकाे संयाेगका आधारमा व्यक्तिलाई शुभ वा अशुभ फल मिल्न सक्छ ।
							यसमा व्यक्तिकाे चाहना शुभफलमा वृद्धि र अशुभफलमा कमी हाेस् भन्ने हुन्छ । 
							यसका लागि कुण्डली अध्ययन गरेर शुभ वा अशुभफलदायक ग्रहकाे शान्ति गराउनु पर्दछ । हामी यहाँहरूकाे कुण्डली अध्ययन गरेर ग्रहशान्तिका बारेमा आवश्यक परामर्श दिनेछाैँ । 
							साथै यहाँहरूले चाहेमा ग्रहशान्ति पनि गराउनेछाैँ ।
						</p>
						<div class="pt-3">
							<a href="/graha-shanti"  id="all-btn" class="btn btn-outline-primary" role="button">View More</a>
						</div>
					</div>

					<div class="mar col-md-1">&nbsp;</div>


				</div>
		
		</div>
	

</section>



<section id="contact" >

	
		
	

		<div class="row contact-bg pt-5">

			<div class="col-md-4">
				<div class="google-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2608.4358784226206!2d85.25841746669686!3d27.70218733885129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1593157945452!5m2!1sen!2snp" width="250" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

				</div>

			</div>
			<div class="col-md-4">
				<div class="social">
					<a href="https://www.facebook.com/Janak.Bhatta67"><ion-icon id="social-media" class="social-media" name="logo-facebook"></ion-icon></a>
					<a href="https://www.instagram.com/janak19679491/?hl=en"><ion-icon id="social-media" class="social-media" name="logo-instagram"></ion-icon></a>
					<a href="https://twitter.com/jbhatta67"><ion-icon id="social-media" class="social-media" name="logo-twitter"></ion-icon></a>
				</div>
				<br>
				<br>
					<h5 class="info">ज्यो. जनकराज भट्ट</h5>
				<br>
				<h6 class="info">
					सम्पर्क नं: ९८४१८१११५३ , ९८१८८४०८४४
					<br>
					<br>
					इमेल: bhattajanak@gmail.com
					<br />
					<br />
				</h6>
			</div>
			<div class="col-md-4">
				<div class="contact-form">
					<section class="resume-section text-center" id="contact">
						<div class="my-auto">



							
							<form class="contact-form d-flex flex-column align-items-center"
								  action={% url 'contactform1' %}
								  method="POST">
								{% csrf_token %}
								<div class="form-group w-75">

									<input type="text"
										   class="form-control"
										   placeholder="Enter Your Full Name"
										   name="full_name"
										   required />
								</div>
								<div class="form-group w-75">

									<input type="email"
										   class="form-control"
										   placeholder="Enter Your Email id"
										   name="email"
										   required />
								</div>
								<div class="form-group w-75">

									<input type="tel"
										   class="form-control"
										   placeholder="Enter Your Contact Number"
										   name="telephone"
										   required />
								</div>
								<div class="form-group w-75">

									<textarea class="form-control"
											  type="text"
											  placeholder="Enter Your Message"
											  rows="7"
											  name="msg"
											  required></textarea>
								</div>
								<div class="submit">
									<button type="submit" class="btn btn-submit btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</section>
				</div>
			</div>
		</div>
	
</section>
{% endblock %}