{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid pt-5">
	<h1 class="text-center text-capitalize pt-5">{{object.title}}</h1>
	<hr class="w-25 pt-3 mx-auto">
	<h5 class="text-capitalize text-center"><span style="font-style:italic;">Written By :</span> Janak Bhatta</h5>	
	<hr class="mx-auto w-50">							
	<div class="row">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-3">
			<h6>Created Date: {{object.created_on}}</h6>
		</div>
		<div class="col-md-3">
			<h6>Updated Date: {{object.updated_on}}</h6>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-8">
			<img class="blog-inside-image" src="{{object.image.url}}">
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-8">
			<h5 style="font-style:italic;"class="text-capitalize text-center text-justify"> {{object.content}} </h5>
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>
</div>
{% endblock %}

