<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
   
    
</head>
<body>
  <header>
  <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Janak Bhatta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="index.html#services" id="navbarDropdown">
                Services
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shop.html" aria-haspopup ="true">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html" aria-haspopup ="true">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="videos.html" aria-haspopup ="true">Videos</a>
              <li class="nav-item">
              <a class="nav-link" href="index.html#contact" aria-haspopup ="true">Contact</a>
            </li>
            </li>
          </ul>
          
        </div>
      
    </nav>
    <div class="container-fluid pt-5">
        <h1 class="text-center text-capitalize pt-5">Vastu Yantra</h1>
        <hr class="w-25 pt-5 mx-auto">


        <div class="row">
          
        <div class="col-md-1">&nbsp;</div>

        <div class="col-md-3">
          
          <!--Card-->
          <a href="rudrakshya.html">
<div class="card card-cascade card-ecommerce wider">

  <!--Card image-->
  <div class="view ">
    <img class="card-img-top" src="images/bastuyantra.jpg"
      alt="">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-body card-body-cascade text-center">
    <!--Category & Title-->
    <h3>Vastu Yantra</h3>
    <h4 class="card-title text-primary font-weight-bold">Vastu Yantra 1</h4>

    <!--Description-->
    <p class="card-text"></p>

    <!--Card footer-->
    <div class="card-footer pt-1">
      <span class="text-center h5 text-danger">Rs 500</span>
      
    </div>

  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->


        </div>
      </div>
     </a>
    </div>
  </div>



      
       




















    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>