{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid pt-5">
	<h1 class="text-center text-capitalize pt-5">भिडियो</h1>
	<hr class="w-25 pt-5 mx-auto">
	<div class="row">
		{% for i in videos %}			
			<div class="mar col-md-1">&nbsp;</div>		
			<div class="mar col-md-3"> 
				<div class="videos" id="player{{i.id}}">
					{% load embed_video_tags %}
					<!-- The video tag: -->
					{% video i.video as my_video %}
					{% video my_video "230x200" %}
					{% endvideo %}
				</div>
			</div>
			<div class="mar col-md-1">
			</div>
			<div class="mar col-md-6">
				<h3 class="text-center text-capitalize">{{i.title}}</h3>
				<hr class="w-25 mx-auto">
				<p> {{i.description}}</p>
				<div class="pt-3">
					<a href="#" id="all-btn"class="btn btn-outline-primary" role="button">Read More</a>
				</div>
			</div>
			<div class="mar col-md-1">&nbsp;</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
